fastapi
uvicorn

pandas
pytz
requests
pyotp
yfinance

smartapi-python

passlib[bcrypt]
bcrypt==3.2.2

supabase==2.3.4
gotrue==2.4.2
httpx==0.24.1
postgrest==0.15.1
realtime==1.0.0

websockets==10.4
websocket-client

logzero